.page-home {
}

.providers .logos.row {
	margin: 2em auto;
}

.provider img {
	margin: 1em auto;
	width: 50%;
	display: block;
}

.intro-image {
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.06),
  3px 12.5px 10px rgba(0, 0, 0, 0.12),
  5px 22.3px 17.9px rgba(0, 0, 0, 0.22);
	border-radius: 6px; /* macOS window round */
}